body{
	background-image: url("../images/update_back.jpg");
	color: #000;
}
#update_password-part{
	text-align: center;
}
h1{
	color: green;
	text-align: center;
	text-orientation: mixed;
}
#update{  
    border: solid gray 1px;  
    width:60%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: white;  
    padding: 50px;  
}  
#update_password-part{
	margin-bottom: 50px;
}

input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 10px;
  display: inline-block;
  border: 1px solid #ccc;
  
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 30px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  opacity: 1.5;
}
button:hover {
  opacity: 0.8;
}